.head{
    background-color: red;
    text-align: center;
    font-weight: bold;

}

.head2{
    background-color: blue;
    text-align: center;
}
.head3{
    background-color: yellowgreen;
    text-align: center;
}
.pag{
    background-color: yellow;
    text-align: center;
}

.yash{
    padding: 100px;
    border-radius: 500px;
}